.lead-submit-btn{
    margin-left: 10px !important;
    text-align: right !important;
}

.cls-btn{
    display: flex;
    align-items: baseline;
}
p{
    background-color: #e8e8f1 !important;
        padding: 5px;
        margin: 15px 0px 15px 0px;
}
b{
    color: #7c8191 !important;
    margin-left: 7px;

}