 button{border: 0;
margin-right: 10px;
padding: 4px 20px;
border-radius: 8px;
font-size: 16px;
font-weight: 600;
color: #f0523a;
background: #fff;
border: 1px solid #f0523a;
}
 button:hover {
    color: #fff;
    // background: #f0523a;
    background:#D8D5D5
}
 .btnPlace{
    display: flex;
    justify-content: end;
 }
 .close{
    padding-top: 18px;
    margin-right: -10px;
 }
 .lead-submit-btn{
    margin-right: 10px;
 }